# Required field. E.g. mynextcloud.mydomain.com
SERVER_NAME=

# Required field. The link to the nextcloud tar ball to download and install.
DOWNLOAD_LINK=

# Leave blank use the default mariadb location. Otherwise the value should be a path like /var/lib/mydatabaselocation
# DB_LOCATION=/var/lib/mydatabaselocation

# Set the timezone to be used for the mariadb server. Value should be a tzdata timezone descriptor.
# TIME_ZONE=UCT
