# Required field. E.g. mynextcloud.mydomain.com
SERVER_NAME=XXX

# Required field. The link to the nextcloud tar ball to download and install.
DOWNLOAD_LINK=XXX

# Leave blank use the default mariadb location. Otherwise the value should be a path like /var/lib/mydatabaselocation
DB_LOCATION=XXX
