NC_HOSTNAME=

DB_ROOT_PASSWORD=

NC_DB_USER=
NC_DB_PASSWORD=
NC_DB_NAME=


# Traefik TLS certificate variables

# The certificate resolver traefik must use.
# Uncomment the relevant line

# Use this line for development
# TRAEFIK_CERT_RESOLVER= 

# Use this line in production
# TRAEFIK_CERT_RESOLVER=myresolver


# The email to use in the Let's Encrypt http challenge. 
#LETS_ENCRYPT_EMAIL=
