#Database location on the host. A volume will be created in the db conatiner pointing to this.
DB_LOCATION=XXX

DB_ROOT_PASSWORD=XXX


# NC install volume
NC_VOLUME_LOCATION=XXX
NC_DATA_LOCATION=XXX

# Details of the database and user that Nextcloud is (or will be) configured to use.
# This must already exist with the correct privileges applied.
NC_DB_USER=XXX
NC_DB_PASSWORD=XXX
NC_DB_NAME=XXX

NC_DOWNLOAD_LINK=XXX
